img{
  filter:saturate(42%);
}

.center{
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:50%;
}

.center{
  border-radius:25px;
  background:#FF1493;
  padding:20px;
  width:200px;
  height:150px;
}

div{
  text-align:center;
}

.container{
  position:relative;
  text-align:center;
  color:white;
}

.top-right{
  position:absolute;
  top:8px;
  right:16px;
}

table, th,td{
  border:2px solid;
  padding:15px;
  text-align:left;
}

table{
  width:97%;
}

th{
  background-color:#D2691E;
  color:white;
}

footer p{
  font-weight:bold;
}